body {
    background: #f27ba7;
}

h1, h2{
    font-family: 'Open Sans', sans-serif;
    color: #181e5b;
}

h4 {
    color: #181e5b;
}

hr {
    border-color: #181e5b;
}

p {
    color:#181e5b;
}

a {
    color:#f27ba7;
}

#start {
    background-color:#181e5b;
    color: #f27ba7;
}

#artblur {
    filter: blur(10px);
    max-height: 200px;
}

#artclear {
    max-height: 200px;
}

#artgray {
    max-height:200px;
    filter: grayscale(100%);
}